In [1]:
a = 1234567899876543234567876543234567898765432345678

In [5]:
print(9**5)

59049

In [6]:
9^5

12

In [8]:
# given 5 ints
# find max and min sum of 4 ints

arr = [ int(x) for x in input().split(' ') ]

5 4 3 2 8

In [12]:
print(sum(sorted(arr)[1:]))

20

In [23]:
print(sum(sorted(arr)[:-1]))

14

In [25]:
def show():
    print("hello")

In [26]:
a = show

In [27]:
a()

hello

In [28]:
def square(x):
    return x**2

In [32]:
square = lambda x: x**2

In [30]:
square(3)

9

In [33]:
power = lambda a, b: a**b

In [34]:
power(3, 2)

9

In [35]:
def square(a): return a**2

In [47]:
arr = [ ("jatin", 95), ("shashank", 91), ("auday", 91), ("prateek", 97)]

In [48]:
sorted(arr)

[('auday', 91), ('jatin', 95), ('prateek', 97), ('shashank', 91)]

In [49]:
sorted?

In [50]:
def k(x):
    return x[1]

In [51]:
# key is what to compare
# comparator is how to compare
sorted(arr, key = lambda x: x[1])

[('shashank', 91), ('auday', 91), ('jatin', 95), ('prateek', 97)]

In [ ]:
class A {
    public:
        int a;
        int b;
}

bool comparator(A x, A y) {
    return x.a > y.a;
}

A arr* = new A(100);
sort(arr, *(comparator));

In [52]:
arr

[('jatin', 95), ('shashank', 91), ('auday', 91), ('prateek', 97)]

In [54]:
"jatin"[::-1]

'nitaj'

In [56]:
# unstable reverse sort
sorted(arr, key = lambda x: x[1])[::-1]

[('prateek', 97), ('jatin', 95), ('auday', 91), ('shashank', 91)]

In [58]:
# stable reverse sort
sorted(arr, key = lambda x: x[1], reverse = True)

[('prateek', 97), ('jatin', 95), ('shashank', 91), ('auday', 91)]

In [61]:
b = print("something")

something

In [62]:
b

In [59]:
a = lambda: print("hello")

In [60]:
print(a())

hello
None

In [63]:
if print("hello"):
    print("world !")

hello

In [6]:
import json

In [17]:
with open("mydata.json", "r+") as file:
#     print(file.readline())
#     print(file.readline())
    data = json.load(file)
print(data)

{'name': 'jatin', 'last_name': 'katyal', 'marks': {'english': 99, 'maths': 100}, 'fav_colors': ['red', 'black', 'blue']}

In [19]:
with open("output.txt", "w") as file:
    print("Hello World !", file = file)

In [30]:
file1.close()

In [38]:
file1 = open("output.txt", "r")
file1.read()

'Hello World !\n'

In [31]:
file = open("output.txt", "w")
print("Hello World !", file = file, flush=True)