In [2]:
a = 10
b = 10
id(a) == id(b)

True

In [6]:
a = 256
b = 256
id(a) == id(b)
print(a is b)

True

In [4]:
a is b

False

In [7]:
d = {
    "name": "jatin"
}

In [10]:
c = d

print(c is d)
# c['name'] = 'shashank'

True

In [9]:
d

{'name': 'shashank'}

In [13]:
a = -5
b = -5
print(a is b)

True

In [30]:
row = ['']*3

In [35]:
# board = [row]*3
board = [row.copy() for _ in range(3)]

In [32]:
board

[['', '', ''], ['', '', ''], ['', '', '']]

In [33]:
board[0][0] = 'X'

In [34]:
board

[['X', '', ''], ['', '', ''], ['', '', '']]

In [22]:
board[2] is board[1]

True

In [45]:
a = ([1, 2], [3, 4], [5, 6])

In [46]:
a[0][1] = 6

In [49]:
a[0] += [5, 6]

TypeError: 'tuple' object does not support item assignment

In [50]:
a

([1, 6, 5, 6], [3, 4], [5, 6])

In [51]:
arr = [1, 2, 3, 4, 5]

In [53]:
for x in map(lambda x: x**2, arr):
    print(x)

1
4
9
16
25

In [54]:
arr = list(map(int, input().split(' ')))

5 4 3 2

In [55]:
arr

[5, 4, 3, 2]

In [56]:
int('1')

1

In [72]:
def func(name: str, last_name: str) -> None:
    'this is a documentation'
    return "Hello, {} {}".format(name, last_name)

In [73]:
func?

In [74]:
func(1, 2)

'Hello, 1 2'

In [69]:
print?

In [70]:
from functools import reduce

In [71]:
reduce?

In [78]:
#    *
#   ***
#  *****
# *******
#  *****
#   ***
#    *

In [83]:
n = 4
for i in range(n): print( ' '*(n-i-1) + '*'*((2*i)+1) )
for i in range(n-1): print( ' '*(i+1) + '*'*(2*(n-1-i)-1) )

   *
  ***
 *****
*******
 *****
  ***
   *

In [77]:
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

In [88]:
n = 5
print( '*' * n )
print( ('*' + ' '*(n-2) + '*' + '\n') * (n-2) , end = '\r')
print( '*' * n )

*****
*   *
*   *
*   *
*****

In [92]:
# Input: Hello World
# Output: hELLO wORLD
# Hint: Everything is a number

In [ ]:
input_string = input()
output_string = ''
for char in input_string:
    pass

In [94]:
print(chr(97))
print(ord('a'))

a
97

In [95]:
import numpy as np

In [96]:
np.log2(7)

2.807354922057604

In [97]:
def pow(a, b):
    if b == 1: return a
    elif b == 0: return 1
    temp = pow(a, b//2)
    return temp * temp * (a if b % 2 else 1)

In [98]:
pow(2, 5)

32

In [ ]:
# Given N light bulbs you have to perform N operations
# for every Nth operation all the light bulbs are toggled
# at the position where i is divisible by Ni
# Find the number of light bulbs switched on at the end

# Input: 85
# Output: 9
    
# Input: 10
# Output: 3

# Input: 200
# Output: 14

In [101]:
import math

In [102]:
n = int(input())
print(int(math.sqrt(n)))

200
14

In [ ]:
(char *)& a

class A {
    int a; 4
    int b; 4
    float c; 4
}

A* a = new A()

In [103]:
import os

In [104]:
os.listdir()

['IntroToNumpy.ipynb',
 'Untitled.ipynb',
 'IntroToMatplotlib.ipynb',
 'cheat_sheets',
 'codes',
 '.ipynb_checkpoints',
 'IntroToPandas.ipynb',
 'data']